@import url(c:\Users\user\Desktop\chess-landing\chess-landing\vendor\normalize.css);
@font-face {
  src: url("../../vendor/fonts/NotoSans-Regular.woff2") format("woff2"), url("../../vendor/fonts/NotoSans-Regular.woff") format("woff");
  font-family: 'NotoSans';
  font-weight: 400;
}

@font-face {
  src: url("../../vendor/fonts/NotoSans-SemiBold.woff2") format("woff2"), url("../../vendor/fonts/NotoSans-SemiBold.woff") format("woff");
  font-family: 'NotoSans';
  font-weight: 600;
}

@font-face {
  src: url("../../vendor/fonts/NotoSans-Medium.woff2") format("woff2"), url("../../vendor/fonts/NotoSans-Medium.woff") format("woff");
  font-family: 'NotoSans';
  font-weight: 500;
}

.body {
  background-color: #000;
  color: #fff;
  margin: 0 auto;
  max-width: 1440px;
  font-size: 0;
}

.header {
  padding: 30px 160px 80px 160px;
  box-sizing: border-box;
  position: relative;
}

@media screen and (max-width: 860px) {
  .header {
    padding: 30px 50px 50px;
  }
}

@media screen and (max-width: 660px) {
  .header {
    padding: 19px 20px 20px;
  }
}

.header__top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  align-content: center;
}

.header__invitation {
  margin: 0;
  line-height: 16.5px;
  letter-spacing: 0, 16px;
  font-size: 15px;
  font-weight: 400;
  margin-top: -4px;
  font-family: "NotoSans", Arial, Helvetica, sans-serif;
}

@media screen and (max-width: 768px) {
  .header__invitation {
    margin-top: 0;
    font-size: 13px;
    padding-top: 8px;
  }
}

.header__vector {
  background: url(../images/icons/Vector.svg) no-repeat center;
  width: 10.07px;
  height: 12.81px;
  margin: 0 2px 0 14px;
}

@media screen and (max-width: 768px) {
  .header__vector {
    margin-bottom: -9px;
  }
}

.header__flex {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex-direction: row;
  align-content: center;
  margin-right: 50px;
  text-decoration: none;
  color: #fff;
}

@media screen and (max-width: 860px) {
  .header__flex {
    margin-right: 30px;
    margin-top: -10px;
  }
}

@media screen and (max-width: 660px) {
  .header__flex {
    position: absolute;
    visibility: hidden;
  }
}

.header__wrapper {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex-direction: row;
  align-content: center;
  align-self: flex-end;
}

@media screen and (max-width: 450px) {
  .header__wrapper {
    margin-bottom: -3px;
  }
}

.header__flex:hover {
  opacity: 0.8;
  cursor: pointer;
  transition: linear 0.4s;
}

.header__rectangle {
  padding-top: 60px;
}

@media screen and (max-width: 660px) {
  .header__rectangle {
    padding-top: 49px;
  }
}

@media screen and (max-width: 450px) {
  .header__rectangle {
    width: 63px;
    height: 40px;
  }
}

.header__rectangle-wrapper {
  position: relative;
}

.header__club {
  font-family: "NotoSans", Arial, Helvetica, sans-serif;
  font-weight: 500;
  font-style: normal;
  color: #fff;
  font-size: 16px;
  line-height: 14.4px;
  position: absolute;
  top: 63px;
  left: 18px;
}

@media screen and (max-width: 660px) {
  .header__club {
    top: 52px;
  }
}

@media screen and (max-width: 450px) {
  .header__club {
    font-size: 12px;
    line-height: 10.8px;
    left: 14px;
  }
}

.header__title {
  margin: 0;
  max-width: 500px;
  padding-top: 70px;
  font-family: "NotoSans", Arial, Helvetica, sans-serif;
  color: #fff;
  font-weight: 600;
  font-size: 70px;
  line-height: 63px;
  font-style: normal;
}

@media screen and (max-width: 660px) {
  .header__title {
    padding-top: 60px;
    max-width: 280px;
    font-size: 40px;
    line-height: 36px;
  }
}

.header__subtitle {
  overflow-wrap: break-word;
  margin: 0;
  padding: 40px 0 182px 0;
  max-width: 470px;
  font-family: "NotoSans", Arial, Helvetica, sans-serif;
  color: #fff;
  font-weight: 400;
  font-size: 20px;
  line-height: 26px;
  font-style: normal;
  opacity: 0.4;
}

@media screen and (max-width: 860px) {
  .header__subtitle {
    padding-bottom: 212px;
    opacity: 1;
  }
}

@media screen and (max-width: 660px) {
  .header__subtitle {
    padding-bottom: 110px;
    padding-top: 20px;
    max-width: 280px;
    font-size: 12px;
    line-height: 15.6px;
  }
}

.header__chess-desk {
  background: url(../images/icons/chess-desk.svg) no-repeat;
  background-size: contain;
  background-position: center;
  width: 416px;
  height: 104px;
}

@media screen and (max-width: 450px) {
  .header__chess-desk {
    width: 280px;
    height: 70px;
  }
}

.header__circles {
  width: 480px;
  height: 640px;
  background: url(../images/icons/circles.svg);
  position: absolute;
  bottom: 80px;
  right: 0px;
  overflow: hidden;
}

@media screen and (max-width: 1120px) {
  .header__circles {
    background: url(../images/icons/cercles1120.svg) no-repeat center;
    width: 130px;
    height: 520px;
    bottom: 50px;
  }
}

@media screen and (max-width: 660px) {
  .header__circles {
    background: url(../images/icons/cercles3.svg) no-repeat center;
    width: 120px;
    height: 60px;
    bottom: 390px;
    right: 20px;
  }
}

.main {
  margin: 0;
  overflow: hidden;
}

.footer {
  background-color: #5036e6;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer__title {
  margin: 0;
  padding-bottom: 20px;
  font-family: "NotoSans", Arial, Helvetica, sans-serif;
  color: #fff;
  font-weight: 400;
  font-size: 20px;
  line-height: 26px;
  font-style: normal;
}

@media screen and (max-width: 450px) {
  .footer__title {
    font-size: 12px;
    line-height: 15.6px;
    padding-bottom: 10px;
  }
}

.footer__copyright {
  margin: 0;
  padding-bottom: 80px;
  font-family: "NotoSans", Arial, Helvetica, sans-serif;
  color: #8e9199;
  font-weight: 400;
  font-size: 15.1px;
  line-height: 20px;
  font-style: normal;
}

@media screen and (max-width: 450px) {
  .footer__copyright {
    font-size: 12px;
    line-height: 12px;
    padding-bottom: 40px;
  }
}

@font-face {
  src: url("../../vendor/fonts/NotoSans-Regular.woff2") format("woff2"), url("../../vendor/fonts/NotoSans-Regular.woff") format("woff");
  font-family: 'NotoSans';
  font-weight: 400;
}

@font-face {
  src: url("../../vendor/fonts/NotoSans-SemiBold.woff2") format("woff2"), url("../../vendor/fonts/NotoSans-SemiBold.woff") format("woff");
  font-family: 'NotoSans';
  font-weight: 600;
}

@font-face {
  src: url("../../vendor/fonts/NotoSans-Medium.woff2") format("woff2"), url("../../vendor/fonts/NotoSans-Medium.woff") format("woff");
  font-family: 'NotoSans';
  font-weight: 500;
}

.our-team {
  font-size: 0;
  margin: 0;
  position: relative;
  width: 100%;
  background-color: #5036e6;
  padding: 80px 160px 0;
  box-sizing: border-box;
}

@media screen and (max-width: 1290px) {
  .our-team {
    padding: 50px 50px 0;
  }
}

@media screen and (max-width: 720px) {
  .our-team {
    padding: 20px 20px 0;
  }
}

.our-team__title {
  margin: 0;
  font-family: "NotoSans", Arial, Helvetica, sans-serif;
  color: #fff;
  font-weight: 600;
  font-size: 70px;
  line-height: 63px;
  font-style: normal;
}

@media screen and (max-width: 720px) {
  .our-team__title {
    font-size: 40px;
    line-height: 36px;
    max-width: 280px;
  }
}

.our-team__subtitle {
  margin: 0;
  padding: 40px 0 110px 0;
  font-family: "NotoSans", Arial, Helvetica, sans-serif;
  color: #fff;
  font-weight: 400;
  font-size: 20px;
  line-height: 26px;
  font-style: normal;
  max-width: 500px;
}

@media screen and (max-width: 1290px) {
  .our-team__subtitle {
    padding-bottom: 140px;
  }
}

@media screen and (max-width: 720px) {
  .our-team__subtitle {
    font-size: 12px;
    line-height: 15.6px;
    max-width: 280px;
    padding: 20px 0 60px;
  }
}

.our-team__members {
  transition: .2s ease;
  display: flex;
  justify-content: space-between;
  position: relative;
}

.our-team__members :nth-child(3n) {
  padding: 0;
}

.our-team__members-wrapper {
  display: flex;
}

.our-team__member-card {
  padding-right: 80px;
}

@media screen and (max-width: 1290px) {
  .our-team__member-card {
    padding-right: 28px;
  }
}

@media screen and (max-width: 320px) {
  .our-team__member-card {
    position: absolute;
    visibility: hidden;
  }
}

@media screen and (max-width: 320px) {
  .our-team__member-card_type_active {
    position: relative;
    visibility: visible;
  }
}

.our-team__member-image {
  max-width: 320px;
  max-height: 320px;
  border-radius: 15px;
}

@media screen and (max-width: 720px) {
  .our-team__member-image {
    max-width: 280px;
    max-height: 280px;
  }
}

.our-team__name {
  margin: 0;
  padding-top: 30px;
  font-family: "NotoSans", Arial, Helvetica, sans-serif;
  color: #fff;
  font-weight: 400;
  font-size: 22px;
  line-height: 28px;
  font-style: normal;
  letter-spacing: 1.2px;
}

@media screen and (max-width: 320px) {
  .our-team__name {
    padding-top: 20px;
    text-align: center;
    font-size: 18px;
    line-height: 23.4px;
    letter-spacing: 0.055em;
  }
}

.our-team__hobby {
  margin: 0;
  margin-top: 10px;
  font-family: "NotoSans", Arial, Helvetica, sans-serif;
  color: #fff;
  font-weight: 400;
  font-size: 20px;
  line-height: 26px;
  font-style: normal;
}

@media screen and (max-width: 320px) {
  .our-team__hobby {
    text-align: center;
    margin-top: 7px;
    font-size: 12px;
    line-height: 15.6px;
  }
}

.our-team__points {
  background: url(../images/icons/points.svg) no-repeat center;
  width: 44px;
  height: 8px;
  position: absolute;
  visibility: hidden;
}

@media screen and (max-width: 320px) {
  .our-team__points {
    position: relative;
    visibility: visible;
    margin: 30px auto 0;
  }
}

.our-team__question-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding: 252px 0 171px;
}

@media screen and (max-width: 1290px) {
  .our-team__question-wrapper {
    padding: 171px 0 121px;
  }
}

@media screen and (max-width: 690px) {
  .our-team__question-wrapper {
    padding: 60px 0 200px;
  }
}

.our-team__circle {
  width: 880px;
  height: 440px;
  background: url(../images/icons/circles2.svg) no-repeat center;
  position: absolute;
  bottom: 60px;
  left: -110px;
  overflow: hidden;
}

@media screen and (max-width: 1360px) {
  .our-team__circle {
    background: url(../images/icons/cercles-green2.svg) no-repeat center;
    width: 180px;
    height: 360px;
    bottom: 50px;
    left: 0;
  }
}

@media screen and (max-width: 700px) {
  .our-team__circle {
    background: url(../images/icons/cercle-down.svg) no-repeat center;
    width: 280px;
    height: 140px;
    bottom: 0;
    left: 6vw;
  }
}

.our-team__question {
  margin: 0;
  font-family: "NotoSans", Arial, Helvetica, sans-serif;
  color: #fff;
  font-weight: 600;
  font-size: 70px;
  line-height: 63px;
  font-style: normal;
  max-width: 520px;
}

@media screen and (max-width: 1290px) {
  .our-team__question {
    max-width: 478px;
  }
}

@media screen and (max-width: 700px) {
  .our-team__question {
    max-width: 280px;
    font-size: 40px;
    line-height: 36px;
  }
}

.our-team__guide-line {
  margin: 0;
  padding-top: 40px;
  font-family: "NotoSans", Arial, Helvetica, sans-serif;
  color: #fff;
  font-weight: 400;
  font-size: 20px;
  line-height: 26px;
  font-style: normal;
  max-width: 520px;
}

@media screen and (max-width: 1290px) {
  .our-team__guide-line {
    max-width: 478px;
  }
}

@media screen and (max-width: 700px) {
  .our-team__guide-line {
    max-width: 280px;
    padding-top: 20px;
    font-size: 12px;
    line-height: 15.6px;
  }
}

.our-team__member-image {
  width: 320px;
  height: 320px;
}

.fights {
  font-size: 0;
  margin: 0;
  padding: 80px 160px 80px 160px;
  box-sizing: border-box;
  background-color: #000;
  position: relative;
}

@media screen and (max-width: 1290px) {
  .fights {
    padding: 50px 50px 80px;
  }
}

@media screen and (max-width: 720px) {
  .fights {
    padding: 20px;
  }
}

.fights__title {
  margin: 0;
  padding-bottom: 40px;
  background-color: #000;
  font-family: "NotoSans", Arial, Helvetica, sans-serif;
  color: #fff;
  font-weight: 600;
  font-size: 70px;
  line-height: 63px;
  font-style: normal;
}

@media screen and (max-width: 720px) {
  .fights__title {
    font-size: 40px;
    line-height: 36px;
    max-width: 280px;
    padding-bottom: 20px;
  }
}

.fights__subtitle {
  margin: 0;
  background-color: #000;
  font-family: "NotoSans", Arial, Helvetica, sans-serif;
  color: #fff;
  font-weight: 400;
  font-size: 20px;
  line-height: 26px;
  font-style: normal;
  max-width: 500px;
}

@media screen and (max-width: 720px) {
  .fights__subtitle {
    font-size: 12px;
    line-height: 15.6px;
    max-width: 280px;
  }
}

.fights__image-wrapper {
  display: flex;
  justify-content: space-between;
  padding-top: 110px;
}

@media screen and (max-width: 1290px) {
  .fights__image-wrapper {
    padding-top: 140px;
  }
}

@media screen and (max-width: 720px) {
  .fights__image-wrapper {
    padding-top: 60px;
  }
}

.fights__image-wrapper :nth-child(3n) {
  margin-right: 0;
}

.fights__image {
  margin-right: 80px;
  border-radius: 15px;
}

@media screen and (max-width: 1290px) {
  .fights__image {
    margin-right: 28px;
  }
}

@media screen and (max-width: 720px) {
  .fights__image {
    max-width: 280px;
    max-height: 280px;
  }
}

@media screen and (max-width: 320px) {
  .fights__image {
    visibility: hidden;
    position: absolute;
  }
}

.fights__image_type_active {
  visibility: visible;
  position: relative;
}

.fights__chess-green {
  background: url(../images/icons/desk-green.svg) no-repeat;
  background-size: contain;
  background-position: center;
  width: 416px;
  height: 104px;
  margin: 110px 0 0 63%;
}

@media screen and (max-width: 1290px) {
  .fights__chess-green {
    margin: 140px 0 0 252px;
  }
}

@media screen and (max-width: 740px) {
  .fights__chess-green {
    margin: 60px 0 0;
    margin-left: 30%;
    width: 280px;
    height: 70px;
  }
}

@media screen and (max-width: 440px) {
  .fights__chess-green {
    margin: 60px 0 0;
  }
}

.fights__half-circle {
  background: url(../images/icons/half-circle.svg) no-repeat center;
  width: 440px;
  height: 220px;
  position: absolute;
  bottom: 0;
  left: 100px;
}

@media screen and (max-width: 1290px) {
  .fights__half-circle {
    left: -220px;
  }
}

@media screen and (max-width: 730px) {
  .fights__half-circle {
    visibility: hidden;
  }
}

.fights__points {
  background: url(../images/icons/ipoints.svg) no-repeat center;
  width: 44px;
  height: 8px;
  position: absolute;
  visibility: hidden;
}

@media screen and (max-width: 320px) {
  .fights__points {
    position: relative;
    visibility: visible;
    margin: 30px auto 0;
  }
}

.login-button {
  background-color: #009465;
  color: #fff;
  padding: 0;
  border: 0;
  border-radius: 8px;
  width: 218px;
  min-height: 48px;
  cursor: pointer;
  font-weight: 600;
  font-size: 15px;
  line-height: 18px;
  letter-spacing: 0.1px;
  font-family: "NotoSans", Arial, Helvetica, sans-serif;
}

@media screen and (max-width: 768px) {
  .login-button {
    width: 184px;
    min-height: 44px;
    font-size: 13px;
  }
}

@media screen and (max-width: 450px) {
  .login-button {
    width: 140px;
    min-height: 30px;
    font-size: 10px;
  }
}

@media screen and (max-width: 768px) {
  .login-button_type_header {
    width: 184px;
    min-height: 44px;
    margin-bottom: 6px;
    font-size: 13px;
  }
}

@media screen and (max-width: 450px) {
  .login-button_type_header {
    padding-bottom: 0;
    width: 140px;
    min-height: 30px;
    font-size: 10px;
  }
}

.login-button_type_footer {
  margin-bottom: 60px;
}

@media screen and (max-width: 768px) {
  .login-button_type_footer {
    width: 218px;
    min-height: 48px;
    font-size: 15px;
  }
}

@media screen and (max-width: 450px) {
  .login-button_type_footer {
    width: 140px;
    min-height: 30px;
    font-size: 10px;
    margin-bottom: 40px;
  }
}

@media screen and (max-width: 768px) {
  .login-button_type_popup {
    width: 218px;
    min-height: 48px;
    font-size: 15px;
    line-height: 18px;
  }
}

@media screen and (max-width: 450px) {
  .login-button_type_popup {
    width: 140px;
    min-height: 30px;
    font-size: 10px;
  }
}

.login-button:hover {
  background: #066c4c;
  transition: linear 0.4s;
}

.popup {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  visibility: hidden;
  opacity: 0;
  transition: linear 0.2s;
  align-items: center;
  background: black;
  position: fixed;
  top: 0%;
  right: 0%;
}

.popup_opened {
  visibility: visible;
  opacity: 1;
}

.popup__title {
  max-width: 500px;
  margin: 0;
  font-family: "NotoSans", Arial, Helvetica, sans-serif;
  color: #fff;
  font-weight: 600;
  font-size: 34px;
  line-height: 30.6px;
  font-style: normal;
  padding-bottom: 76px;
}

@media screen and (max-width: 450px) {
  .popup__title {
    font-size: 30px;
    line-height: 27px;
    padding-bottom: 40px;
  }
}

.popup__input {
  cursor: pointer;
  width: 500px;
  height: 48px;
  border-radius: 8px;
  background-color: #1a1a1a;
  text-indent: 28px;
  border-width: 1px;
  border-style: none;
  font-family: "NotoSans", Arial, Helvetica, sans-serif;
  color: #fff;
  font-weight: 400;
  font-size: 15px;
  line-height: 18px;
  font-style: normal;
  letter-spacing: 0.01em;
}

@media screen and (max-width: 540px) {
  .popup__input {
    font-size: 12px;
    text-indent: 17px;
    width: 280px;
    height: 42px;
  }
}

.popup__input_type_name {
  margin-bottom: 18px;
}

@media screen and (max-width: 540px) {
  .popup__input_type_name {
    margin-bottom: 8px;
  }
}

.popup input:focus {
  cursor: text;
  outline: none;
  border: 1px solid #5036e6;
  background: rgba(26, 26, 26, 0.6);
}

.popup input:hover {
  background: rgba(26, 26, 26, 0.6);
}

.popup input::placeholder {
  color: #fff;
}

.popup__submit:hover {
  background: #066c4c;
}

.popup__form {
  display: flex;
  flex-direction: column;
  padding-bottom: 253px;
}

@media screen and (max-width: 768px) {
  .popup__form {
    padding-bottom: 243px;
  }
}

@media screen and (max-width: 400px) {
  .popup__form {
    padding-bottom: 143px;
  }
}

.points {
  display: flex;
  justify-content: center;
  margin-top: 30px;
  position: absolute;
  visibility: hidden;
}

@media screen and (max-width: 320px) {
  .points {
    position: relative;
    visibility: visible;
  }
}

.points__point {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  margin-right: 10px;
  background-color: rgba(255, 255, 255, 0.2);
}

.points__point:nth-child(3) {
  margin-right: 0;
}

.points__point_active {
  background-color: #fff;
}

.logo {
  width: 38px;
  height: 54px;
  background: url(../images/icons/pawn.svg) no-repeat;
  background-size: contain;
  background-position: center;
  display: flex;
  flex-direction: column;
}

@media screen and (max-width: 450px) {
  .logo {
    width: 26px;
    height: 36px;
    margin-top: 6px;
  }
}

.logo_type_footer {
  display: flex;
  flex-direction: column;
  margin: 80px 0 60px;
}

@media screen and (max-width: 450px) {
  .logo_type_footer {
    width: 38px;
    height: 54px;
    margin: 40px 0 40px;
  }
}

.logo_type_popup {
  margin: 120px auto 50px;
}

@media screen and (max-width: 768px) {
  .logo_type_popup {
    margin: 200px auto 50px;
  }
}

@media screen and (max-width: 550px) {
  .logo_type_popup {
    margin: 120px auto 40px;
  }
}
/*# sourceMappingURL=style.css.map */